{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Registration {% endblock %}


{% block body %}
	<section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span><a href="{% url 'accounts:register' %}">Register</a></span>
              </div>
              <h1>Register</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!--End of slider-->

<section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <form  method="post" class="">
            {% csrf_token %}
           {% bootstrap_form register_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
          </form>
      </div>
      <div class="col-md-3 col-md-push-1">
          <h4>Already Register?<a href="{% url 'accounts:login' %}"> Login Here</h4>
          
      </div>
  </div>


<div>
	{% for message in messages %}
		<h3> {{message}}</h3>
	{% endfor %}
</div>
</div>
</section>
{% endblock %}