{% extends 'base.html' %}
{% load static %}
{% block title %}Haus - Get the best home{% endblock %}



{% block body %}
  <section class="probootstrap-slider flexslider">
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <div class="probootstrap-home-search probootstrap-animate">
              
                <h2 class="heading">Want a loan <br>Know your elegibility<a href="{% url 'accounts:login' %}"> now!!</a></h2>
            </div>
          </div>
          </div>
          
        </div>
                  
      </div>
    </div>
    
  </section>
  <!-- END: slider  -->

{% for information in info %}


  {% if forloop.counter|divisibleby:2 %}

      <section class="probootstrap-half reverse">
        <div class="image-wrap">
          <div class="image" style="background-image: url({{information.image.url}});"></div>
        </div>
         <div class="text">
          <p class="mb10 subtitle">{{information.sub_title}}</p>
          <h3 class="mt0 mb40">{{information.title}}</h3>
          <p>{{information.description}}</p>
          <p><a href="#" class="btn btn-primary mb10">Find out more</a></p>
        </div>
      </section>

    {% else %}
      <section class="probootstrap-half">
        <div class="image-wrap">
          <div class="image" style="background-image: url({{information.image.url}});"></div>
        </div>
        <div class="text">
          <p class="mb10 subtitle">{{information.sub_title}}</p>
          <h3 class="mt0 mb40">{{information.title}}</h3>
          <p>{{information.description}}</p>
          <p><a href="#" class="btn btn-primary mb10">Find out more</a></p>
        </div>
    </section>
  {% endif %}
{% endfor %}
          
        

 

 {% endblock %}