{% extends 'base.html' %}

{% block title %}
Approved
{% endblock %}

{% block body %}

 <section class="probootstrap-slider flexslider">
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <div class="probootstrap-home-search probootstrap-animate">
              
                <h1 class="heading"> Your loan has been approved </h1>

            </div>
          </div>
          </div>
          
        </div>
                  
      </div>
    </div>
    
  </section>
{% endblock %}